<!DOCTYPE html>
{% extends 'Base.html' %}
{% block body_data %}
<style>
        table{ border: 2px solid crimson;}
        th{ border: 2px solid black;padding: 10px; background-color: red; }
        td{ border: 2px solid black;padding: 10px; background-color: red;}


    </style>
<h1 align="center"> This is my Student detail page </h1>
<table align="center">
    <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Qualification</th>
    <th>Mobile</th>
    <th>User ID</th>

    </thead>
    {% for obj in data %}
        {% for s in obj %}
            <tr>
            <td>{{ s.First_Name }}</td>
                <td>{{ s.Last_Name }}</td>
                <td>{{ s.Email }}</td>
                <td>{{ s.Qualification }}</td>
                <td>{{ s.Mobile }}</td>
                <td>{{ s.User_Id }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
<a href="/home/" class="btn btn-primary">Home</a>
</table>
{% endblock %}