<!DOCTYPE html>
{% load static %}
<html lang="en">
<link href="{% static "css/bootstrap.css" %}" type="text/css" rel="stylesheet">
<style>
    h1{color: red;}
    .container .jumbotron{
        background-color: red;
        text-align: center;
        }
    body{background-image: url("https://images.unsplash.com/photo-1548198073-328401ddd50a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
         background-repeat: no-repeat;
        background-size: cover;}
</style>
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>
        .nav-item{font-size: 30px}
        .navbar-brand{font-size: 30px}
        .navbar{height: 80px}
        .nav-item{margin-right: 30px}
        .btn2{margin-left: 500px}
        img{height: 50px; width: 50px}
        nav{font-size: 25px; }
        .imgs{height: 350px; width: 350px}
        img{height: 600px; width: 1100px}
        h2{color: red;}
        h5{color: red}
        .v1{border-left: 2px solid lightgrey;  height: 80px;
        }
        p{color: yellow; font-size: 40px}
    </style>
</head>
<body><br>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" id="img" href="#">Learn</a>
        <ul class="nav navbar-nav">
            <li><a class="nav-item nav-link active " href="/home/">Registration Page</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="#">Online Classes</a></li>
            <li><a href="#">Offline Classes</a></li>
            <li><a href="#">Online + Offline Classes</a></li>
            <li><a href="#">Separate Notes</a></li>
            <li><a href="#">Personal Guidence</a></li>
          </ul></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-item nav-link active " href="/loginview/">Login</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Faculty Names<span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="#">one</a></li>
            <li><a href="#">two</a></li>
            <li><a href="#">three</a></li>
            <li><a href="#">......</a></li>
            </ul></li>
        </ul>
            </button><br>
        </div>
        </div>
    </div>
</nav>
<br><br><br>
<a href="/comments/" > Comment Page</a>
<div class="container">
    <marquee><h1>Practice Makes Perfect</h1></marquee>

    <div class="jumbotron">
        <h1>This is BRSL Here if you come once then you will become addicted of this class so be aware of this class</h1><p> {{ token }}</p>
        <br><br><br><br>
        <h4> Here Some Operation can be performed by you </h4>
        <a href="/loginview/" class=" btn btn-primary btn-lg">Login Page</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/detailpage/" class=" btn btn-primary btn-lg">Detail Page</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</div>
<marquee><h2>Best Faculties in Ameerpet For Python</h2></marquee>
    <div class="container" >
        <div>
        <img class="imgs" src="{% static "images\Durgasir.jpg" %}">
        <img class="imgs" src="{% static "images\NagoorBabu.jpg" %}">
        <img class="imgs" src="{% static "images\Nageshvarsir.jpg" %}">
        </div>
        <marquee><h1> Programming Languages are </h1></marquee>
        <div>
            <img src="{% static "images\Langimg1.png" %} "><br><br><br><br><br><br>
            <img src="{% static "images\Langimg2.png" %} "><br><br><br><br><br><br>
            <img src="{% static "images\Langimg3.png" %} "><br><br>
        </div>
        <Marquee><h1> Lab Facility Also Available here</h1></Marquee>
        <div>
             <img class="imgs" src="{% static "images\Lab3.jpg" %}">
        <img class="imgs" src="{% static "images\Lab1.jpg" %}">
        <img class="imgs" src="{% static "images\Lab2.jpg" %}">
        </div>
        <div>
            <img class="imgs" src="{% static "images\Parking1.jpg" %}">
        <img class="imgs" src="{% static "images\Parking2.jpg" %}">
        </div>
    </div>
<br><br><br><br><br>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<nav class="navbar navbar-inverse navbar-bottom">
    <div class="container">
    <div class="navbar-header">
        <a class="navbar-link"> Link</a>
        <ul class="nav navbar-nav">
            <li><a href="#"> <h4> Since 1951.</h4></a></li>
            <li><h4 >This is the Brand Of Brands</h4></li>
            <li><h4> Since 1951.</h4></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"> <h4> Since 1951.</h4></a></li>
            <li><h4 >This is the Brand Of Brands</h4></li>
            <li><h4> Since 1951.</h4></li>
        </ul>
    </div>
    </div>
</nav>
</body>
</html>