<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
        <link rel="stylesheet" href="{% static 'css\bootstrap.css' %}" type="text/css" >
    <style>
        #userid, #password, .form-group{font-size: 20px;}
        textarea{ max-height: 200px; max-width: 500px; background-color: yellow; font-size: 30px}
        .jumbo1{ background-color:aqua;}
    </style>

</head>
<div class="container">
    <div class="jumbotron">
    {% if type == "loginpage" %}
    <form method="post">
        {% csrf_token %}
        {{ msg }}
        <div class="form-group">
            <label for="userid"> User Id :</label>
            <input class="form-control" id="userid" type="number" name="userid" placeholder=" Enter your User ID..">
        </div>
    <div class="form-group">
        <label for="password"> Password :</label>
        <input class="form-control" id="password" name="password" type="password" placeholder=" Enter your Password..">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>
      {% endif %}
    <br><br>
{%  if type == "Filtered" %}
    <table>
    </table>
    {% for s in details %}
        <h1>    {{ s.First_Name }}</h1>
        <h1>{{ s.Last_Name }}</h1>
        <h1>{{ s.Email }}</h1>
        <h1> {{ s.User_Id }}</h1>
        <h1>{{ s.Reg_No }}</h1>
    {% endfor %}
    </div>
</div>
    <div class="container">
    <div class="jumbotron jumbo1">
 <div>
     <form action="/save_note/" method="post">
         {% csrf_token %}
         <textarea name="note" rows="20" cols="100" placeholder="here you can give your "> </textarea>
         <input type="submit" value="Save" class="btn btn-danger">
    </form>
 </div>
    </div></div>
{% endif %}
{% if type == "Note Saved" %}
    {{ user.User_Id }}
    {{ user.First_Name }}
    {{ user.Last_Name }}
    {{ user.Date }}
    {{ user.Qualification }}
    <form method="post">
    {% csrf_token %}
    <a href="/logout/" class="btn btn-warning">Log Out</a>
    </form>
{% endif %}


</body>
</html>