{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" >
    <style>
        #h1{
            color: black;   font-size: 50px}
        #links{ margin-left: 700px; margin-top: 20px;}
        img{height: 50px; width: 50px}
        .form-group{font-size: 20px}
        .form-control{font-size: 16px;}
        legend{color: black; font-size: 20px}
        #showdetails{background-color: yellow; border: 2px solid black;color: blue;padding:10px;font-size: 20px;border-radius: 10px}
        #showdetails:hover{background-color: Black; border: 2px solid black;padding: 10px; color: #ac2925}
        #review{background-color: gray; border: 2px solid black;color: black;padding:10px;font-size: 20px;border-radius: 10px}
        #review:hover{background-color: Black; border: 2px solid black;padding: 10px; color: #ac2925}
        #Textarea1{max-width: 1050px; max-height: 90px}
        #time1{margin-left: 500px}
        h4{color: red;}
        body{background-image: url("https://images.pexels.com/photos/1624496/pexels-photo-1624496.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
             background-size: cover}


    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron">
{#        <div id="links">#}
{#        <a href="/detailpage/" id="showdetails">Show</a>#}
{#            <a href="/seeonly/" id="review">Show Reviews</a>#}
{#        </div>#}
        {% if type == "Registration" %}
        <h1 id="h1"> This is Inquary Form Please Fill all fields</h1>
        <form method="post" onreset="true">
            {% csrf_token %}
            <div class="form-inline">
            <label for="date">Date</label>
            <input type="date" class="form-control" name="date" required id="date" placeholder="Date">
            <label id="time1" for="date">Time</label>
            <input class="form-control" name="time" required id="time" value="{{date}}">
        </div>
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" name="fname" required id="firstname" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" name="lname" id="lastname" placeholder="Last Name">

        </div>
                        <h4>{{ msg1 }}</h4>
        <div class="form-group">
            <label for="mobile">Mobile Number</label>
            <input type="number" class="form-control" name="mobile" id="mobile" placeholder="#9111199123">
        </div>
        <div class="form-group">
            <label id="code" for="code">Country Code</label>
            <select name="countryCode" class="form-control" id="code">
                <option data-countryCode="GB" value="44">UK (+44)</option>
                <option data-countryCode="IND" value="91" selected>IND(+91)</option>
                <option data-countryCode="US" value="1">USA (+1)</option>
                <option data-countryCode="DZ" value="213">Algeria (+213)</option>
                <option data-countryCode="AD" value="376">Andorra (+376)</option>
                <option data-countryCode="AO" value="244">Angola (+244)</option>
		        <option data-countryCode="AI" value="1264">Anguilla (+1264)</option>
	         	<option data-countryCode="AG" value="1268">Antigua(+1268)</option>
		<option data-countryCode="AG" value="1268">Barbuda (+1268)</option>
		<option data-countryCode="AR" value="54">Argentina (+54)</option>
		<option data-countryCode="AM" value="374">Armenia (+374)</option>
		<option data-countryCode="AW" value="297">Aruba (+297)</option>
		<option data-countryCode="AU" value="61">Australia (+61)</option>
		<option data-countryCode="AT" value="43">Austria (+43)</option>
		<option data-countryCode="AZ" value="994">Azerbaijan (+994)</option>
		<option data-countryCode="BS" value="1242">Bahamas(+1242)</option>
		<option data-countryCode="BH" value="973">Bahrain (+973)</option>
		<option data-countryCode="BD" value="880">Bangladesh(+880)</option>
		<option data-countryCode="BB" value="1246">Barbados(+1246)</option>
		<option data-countryCode="BY" value="375">Belarus (+375)</option>
		<option data-countryCode="BE" value="32">Belgium (+32)</option>
		<option data-countryCode="BZ" value="501">Belize (+501)</option>
		<option data-countryCode="BJ" value="229">Benin (+229)</option>
		<option data-countryCode="BM" value="1441">Bermuda (+1441)</option>
		<option data-countryCode="BT" value="975">Bhutan (+975)</option>
		<option data-countryCode="BO" value="591">Bolivia (+591)</option>
		<option data-countryCode="BA" value="387">Bosnia(+387)</option>
		<option data-countryCode="BW" value="267">Botswana (+267)</option>
		<option data-countryCode="BR" value="55">Brazil (+55)</option>
		<option data-countryCode="BN" value="673">Brunei (+673)</option>
		<option data-countryCode="BG" value="359">Bulgaria (+359)</option>
		<option data-countryCode="BF" value="226">Burkina Fason(+226)</option>
		<option data-countryCode="BI" value="257">Burundi (+257)</option>
		<option data-countryCode="KH" value="855">Cambodia (+855)</option>
		<option data-countryCode="CM" value="237">Cameroon (+237)</option>
		<option data-countryCode="CA" value="1">Canada (+1)</option>
		<option data-countryCode="CV" value="238">Cape Islands (+238)</option>
		<option data-countryCode="KY" value="1345">Cayman Islands(+1345)</option>
		<option data-countryCode="CF" value="236">Central African(+236)</option>
		<option data-countryCode="CL" value="56">Chile (+56)</option>
		<option data-countryCode="CN" value="86">China (+86)</option>
		<option data-countryCode="CO" value="57">Colombia (+57)</option>
		<option data-countryCode="KM" value="269">Comoros (+269)</option>
		<option data-countryCode="CG" value="242">Congo (+242)</option>
		<option data-countryCode="CK" value="682">Cook Islands (+682)</option>
		<option data-countryCode="CR" value="506">Costa Rica (+506)</option>
		<option data-countryCode="HR" value="385">Croatia (+385)</option>
		<option data-countryCode="CU" value="53">Cuba (+53)</option>
		<option data-countryCode="CY" value="90392">Cyprus North (+90392)</option>
		<option data-countryCode="CY" value="357">Cyprus South (+357)</option>
		<option data-countryCode="CZ" value="42">Czech Republic (+42)</option>
		<option data-countryCode="DK" value="45">Denmark (+45)</option>
            </select>
        </div><h4>{{ msg }}</h4>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" required id="exampleInputEmail1" placeholder="abc@gmail.com">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" required id="exampleInputPassword1" placeholder="Password here..">
        </div>
        <fieldset class="form-group">
            <legend> Gender</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="gender" id="optionsRadios2" value="Male" checked>
                    Male
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="gender" id="optionsRadios2" value="Female">
                    Female
                </label>
            </div>
        </fieldset>
        <div class="form-group">
        <label for=" select1"> Select Course</label>
        <select class="form-control" name="course" id=" select1">
            <option> Core Python</option>
            <option selected> Adv Python</option>
            <option>Django</option>
            <option>Rest Api</option>
            <option>Project Only</option>
        </select>
        </div>
        <div class="form-group">
        <label for=" select2"> Select Your Highest Qualification</label>
        <select class="form-control" required name="qualification" id=" select2">
            <option>M.Tech</option>
            <option>MCA</option>
            <option>MSC</option>
            <option>B.Tech</option>
            <option>BCA</option>
            <option>BSC</option>
            <option>12th</option>
            <option>10th</option>
            <option>None Of The Above</option>
        </select>
    </div>
        <div class="form-group">
        <label for=" select3"> Select Your Refrence</label>
        <select class="form-control" name="refrence" id=" select3">
            <option>Friend</option>
            <option>Poster</option>
            <option>Faculty</option>
            <option selected>Online Review</option>
            <option>None Of The Above</option>
        </select>
    </div>
            <div class="form-group">
                <label for="Textarea1">Example textarea</label>
                <textarea required class="form-control" id="Textarea1" name="comment" rows="3"></textarea>
            </div>
{#  <div class="checkbox">#}
      <input type="checkbox" required> Remember Me
{#  </div>#}
  <button type="submit" class="btn btn-primary">Submit</button>
{% endif %}
</div>
</div>
</body>
</html>